<div style="padding:80px 10px 0px 10px">
    <h4>Hello, {{adminname}}</h4>
    <hr>
    <button class="btn btn-primary addbook" data-toggle="modal" data-target="#addAdmin">Add Admin</button>
</div>
<table class="table"style="width:60%;margin:50px 0px 0px 60px">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    {{#each adminusers}}
    <tbody>
        <td scope="col">{{this.name}}</td>
        <td scope="col">{{this.emailid}}</td>
        <td scope="col">{{this.role}}</td>
        <td scope="col"><button class="btn edit" value="{{this._id}}" data-toggle="modal" data-target="#updateform"><i
                    class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;font-weight:bold;"></i></button>
            &nbsp;<button class="btn btn-danger deleteadmin" value="{{this._id}}"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
    </tbody>
    {{/each}}
</table>
<div class="modal fade" id="addAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">Add details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p id="successmessage"></p>
            <form id="updateinfo">
                <div class="modal-body mx-3" style="background-color: #2bbbad!important;text-align: left;">
                    <div class="md-form mb-5">
                        <label for="name">Enter
                            name</label>
                        <input type="text" id="adminname" name="name" value="{{userdetails.name}}" name="adminname"
                            class="form-control" required/>
                    </div>
                    <div class="md-form mb-4">
                        <label for="age">Enter
                            Username</label>
                        <input type="text" id="adminusername" value="{{userdetails.phonenumber}}" name="age" class="form-control validate"required />
                    </div>
                    <div class="md-form mb-5">
                        <label for="email">Enter
                            email</label>
                        <input type="email" value="{{userdetails.emailid}}" id="adminemail" name="email" class="form-control"required />
                    </div>
                    <div class="md-form mb-4">
                        <label for="password">Enter
                            password</label>
                        <input type="text" value="{{userdetails.password}}" id="adminpassword" name="password" class="form-control validate" required/>
                    </div>
                    <div class="md-form mb-4">
                        <label for="phonenumber">Enter
                            phonenumber</label>
                        <input type="text" id="adminnumber" value="{{userdetails.phonenumber}}" name="number" class="form-control validate" required/>
                    </div>
                    <div class="md-form mb-4">
                        <label for="age">Enter
                            age</label>
                        <input type="text" id="adminage" value="{{userdetails.phonenumber}}" name="age" class="form-control validate" required/>
                    </div>
                    {{!-- <div class="md-form mb-4">
                        <label for="Gender">Your
                            Gender</label>
                        <input type="text" id="adminage" value="{{userdetails.gender}}" name="gender" class="form-control validate" />
                    </div> --}}
                    <div class="md-form mb-4">
                        <label for="role">Role</label>
                        <input type="text" id="adminrole" value="{{userdetails.role}}" name="role" class="form-control validate"required />
                    </div>
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="addadmin">Add Admin</button>
                </div>
            </form>
            {{!-- {{/if}} --}}
        </div>
    </div>
</div>