<div style="padding-top:100px">
    <h4>Hello, {{adminname}}{{ddd}}</h4>
    <hr>
    <div class="col-sm-4">
        <div class="card carddata"style="background-color:darkgoldenrod">
            <div class="card-body">
                <i class="fa fa-user-circle" style="font-size:48px;color:black"></i>
                <h4 class="card-title">Available Users</h4>
                <p class="card-text">{{userscount}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card carddata"style="background-color: brown;">
            <div class="card-body">
                <i class="fa fa-book" aria-hidden="true"style="font-size:48px;color:black"></i>
                <h4 class="card-title">Products Available</h4>
                <p class="card-text">{{bookscount}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card carddata"style="background-color: darkmagenta;">
            <div class="card-body">
                <i class="fa fa-user-circle" style="font-size:48px;color:black"></i>
                <h4 class="card-title">Orders</h4>
                <p class="card-text">{{orderQuantity}}</p>
            </div>
        </div>
    </div>
</div>