<h1>{{error}}</h1>
<div class="book-content" style="padding: 200px 170px 100px 170px;">
    {{#each data}}
    <div class="row">
        <div class="col-md-5">
            <img style="width:300px;height:300px" src="{{this.imagepath}}" class="card-img-top" alt="...">
        </div>
        <div class="col-md-7">
            <h1 style="color:brown;font-weight:bold;padding-bottom:10px">{{this.name}}</h1>
            <h4 style="color:black;font-weight:bold;">Product Details</h4>
            <ul style="list-style-type: none">
                <li><span style="font-weight:bold">Description:&nbsp;</span>This remarkable book by <strong>{{this.author}}</strong>, one of the pioneering voices of affirmative thinking, will unlock for you the truly staggering powers of your subconscious mind. Combining time-honored spiritual wisdom with cutting edge.</li>
                <li style="margin-top:3px"><span style="font-weight:bold">Author:&nbsp;</span>{{this.author}}</li>
                <li><span style="font-weight:bold">ISBN:&nbsp;</span>{{this.ISBN}}</li>
                <li><span style="font-weight:bold">Page count:&nbsp;</span>{{this.count}}</li>
                <li><span style="font-weight:bold">Price:&nbsp;</span>{{this.price}}</li>
            </ul>
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <table id="cart-content" class="table" cellspacing="0">
                        <thead class="thead">
                            <tr>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart-content">
                                <td><button class="cartbtn btn store"value="{{this._id}}"style="color:black">Add to Cart</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </p>
        </div>
    </div>
    {{/each}}
</div>